<nav class="navigation">
  <div class="nav-wrapper">
    <div class="nav-left">
      <a href="{{ "/" | relURL }}" class="site-branding">
        <h1 class="site-title">{{ .Site.Title | default "风言风语" }}</h1>
        <span class="site-subtitle">{{ .Site.Params.subtitle | default "纯粹的风言风语" }}</span>
      </a>
    </div>
    <div class="nav-right">
      <a href="{{ "/" | relURL }}">{{ i18n "home" | default "首页" }}</a>
      <a href="{{ "/archives" | relURL }}">{{ i18n "archive" | default "归档" }}</a>
      <a href="{{ "/share" | relURL }}">分享</a>
      <a href="{{ "/essay" | relURL }}">随笔</a>
      <a href="{{ "/friends" | relURL }}">友链</a>
      <a href="{{ "/about" | relURL }}">{{ i18n "about" | default "关于我" }}</a>
      
      {{ if .Site.Params.enableRSS }}
        <a class="button" href="{{ with .Site.Home.OutputFormats.Get "RSS" }}{{ .Permalink }}{{ end }}">
        {{ with .Site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe" }}{{ end }}
        </a>
      {{ end }}
    </div>
  </div>
</nav>