<!--
  文件：基础布局 (layouts/_default/baseof.html)
  作用：所有页面的父级模版。定义了 <html>, <head>, <body> 等基本结构。
  其他模版（如 index.html, single.html）的内容会填充到 {{ block "main" . }}{{ end }} 中。
-->
<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head.html" . }}

  </head>

  <body>
    {{ partial "navigation.html" . }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
